@media (max-width: 630px) {
    header {
        padding: 40px ;
    }

    #search {
        width: 100%;
        order: 3;
    }
}

@media (max-width: 430px) {
    #search {
        order: 1;
    }

    #sort , .category {
        width: 100%;
        order: 2;
    }
}